# CRMComercial - Configuración de Entorno IB SYSTEM
PORT=3000
NODE_ENV=development

# Configuración Base de Datos MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=crmcomercial_ibsystem
DB_PORT=3306
